<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title boxbox6
        link(rel="stylesheet", href="/css/styles.css")
    body
        .header  
        .main
        .app
            .app__col1
            .app__col2
                .app__col2__sec1
                .app__col2__sec2
                    .app__col2__sec2__node1
                    .app__col2__sec2__node2   